*{
    box-sizing: border-box;
}
body{
    font-family: 'League Spartan', sans-serif;
    background-color: var(--primary-background-color);
    transition: all 0.2s ease-in-out;
}

button{
    font-family: inherit;
    font-size: 32px;
    padding: 12px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    color: var(--primary-key-color);
}

.attribution { 
        font-size: 11px; text-align: center; 
}
.attribution a { 
        color: hsl(228, 45%, 44%); 
}

.bottom-calc-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/5;
    gap: 1em;
}

.calc-screen{
    height: 100px;
    background-color: var(--screen-color);
    align-self: stretch;
    grid-column: 1/3;
    border-radius: 15px;
}

.container{
    width: 40%;
    min-width:375px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}

.btn-highlight-key{
    background-color: var(--key-color);
    color: white;
    box-shadow: 0px 5px var(--key-shadow-color);
}

.btn-highlight-key:hover{
    background-color: var(--key-hover-color);
}


.heading{
    font-weight: bold;
    align-self:baseline;
}

.main-calc-grid{
    background-color: var(--primary-key-background-color);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    gap: 1em;
    padding: 1.5em;
    border-radius: 15px;
}

/* These are the numbers 1,2,3 on top of the toggler */
.num{
    display: inline-flex;
    justify-content: space-around;
}

.num > p{
    margin:0 0 15px 0;
}

/* The primary btns for the calculor */
.operand{
    background-color: var(--primary-key-background);
    box-shadow: 0px 5px var(--primary-key-background-shadow);
}

.operand:hover{
    background-color:var(--primary-key-background-hover);
}



/* Theme toggling btns */
.radio-group{
    display: inline-flex;
    background-color: var(--primary-key-background-color);
    border-radius: 30px;
    height: 20px;
}

.radio-btn{
    display: none;
}

.radio-label{
    border-radius: 30px;
    cursor: pointer;
    width: 20px;
    transform: scale(1.1);
    transition: 0.2s;
}

.radio-btn:checked + .radio-label{
    background-color: var(--toggle-color);
    
}


.calc-btn{
    color: white;
    background-color: var(--toggle-color);
    box-shadow:  0 5px var(--toggle-color-shadow);
}

.calc-btn:hover{
    background-color: var(--toggle-hover-color);
}

/* This is just a simple css to transform text to upper case */
.text-uppercase{
    text-transform: uppercase;
}

p.text-uppercase{
    color: inherit;
    font-size: 14px;
    font-weight:bold;
    font-family: inherit;
    align-self:baseline;
    justify-self: end;
    margin-right: 10px;
}


/* The top section of the calculator (includes title, toggle-button and the screen) */

.top-calc-screen{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1em;
    justify-content: baseline;
}

#screen-display{
    color: var(--primary-text-color);
    font-size: 3em;
    font-family: inherit;
    text-align: end;
    align-self: flex-end;
    padding-right: 15px;
}

.title{
    display: grid;
    grid-column:1/3 ;
    grid-template-columns: 3fr 1fr 1fr;
    color: var(--primary-text-color);
    /* align-items: end; */
}

.toggle-btn-group{
    display: flex;
    flex-direction: column;
    justify-self: center;
}
