:root{
    --primary-background-color:hsl(0, 0%, 90%);
    --primary-text-color: hsl(60, 10%, 19%);
    --primary-key-color:hsl(60, 10%, 19%);
    --primary-key-background: hsl(45, 7%, 89%);
    --primary-key-background-hover: #fff;
    --primary-key-background-shadow:hsl(35, 11%, 65%);
    --screen-color: hsl(0, 0%, 93%);
    --primary-key-background-color: hsl(0, 5%, 81%);
    --key-color:hsl(185, 42%, 37%);
    --key-shadow-color:hsl(185, 58%, 25%);

    --key-hover-color: #62B5BD; 

    --toggle-color:hsl(25, 98%, 40%);
    --toggle-hover-color: #FF8B38;
    --toggle-color-shadow: hsl(25, 99%, 27%);
}