:root{
    --primary-background-color: hsl(268, 75%, 9%);
    --primary-text-color: hsl(52, 100%, 62%);
    --primary-key-color:hsl(52, 100%, 62%);
     --primary-key-background: hsl(268, 47%, 21%);
     --primary-key-background-hover: #6B34AC;
    --primary-key-background-shadow:hsl(290, 70%, 36%);
    --screen-color:  hsl(268, 71%, 12%);
    --primary-key-background-color:  hsl(268, 71%, 12%);
    --key-color:hsl(281, 89%, 26%);
    --key-shadow-color:hsl(285, 91%, 52%);

    --key-hover-color: #6B34AC; 

    --toggle-color:hsl(176, 100%, 44%);
    --toggle-hover-color: #94FFF9;
    --toggle-color-shadow: hsl(177, 92%, 70%);
}